<!DOCTYPE html>
<html lang="ja" style="color-scheme: dark;">
	<head>
		<!--フロントエンド有識者助けて(/_;)-->
		<link rel="stylesheet" type="text/css" href="/static/gui/log.css">
		<title>ChatGPT API</title>
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta charset="UTF-8">
		<script src="/static/gui/message_form.js"></script>
		<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
		<script src="/static/gui/update_message.js"></script>
		<script src="/static/gui/scroll.js"></script>
	</head>

	<body class="body">

		<div class="all_conversation">
			<form action="" class="log_list" method="post">
				{% csrf_token %}
				<button id="add_log_button" name="add_log_button">New chat</button>		<!-- type="button"を入れるとクリックが拾えない(;´Д｀) -->
				{% for log_title in log_title_list %}
					<p><button class="log" name="log{{forloop.counter0}}">{{log_title}}</button></p>
				{% endfor %}
			</form>

			<div class="conversation">
				<!-- <p class="user" id="user1">こんにちは</p> -->
				{% for past_message in past_messages %}
					{% if past_message.role == "user" %}
						<p class="user" id="user{{forloop.counter}}">{{past_message.content}}</p>
					{% elif past_message.role == "assistant" %}
						<p class="assistant" id="assistant{{forloop.counter}}">{{past_message.content}}</p>
					{% endif %}
				{% endfor %}
			</div>

		</div>

		<footer id="footer">
			<form action="" class="message_input_footer" method="post">					<!-- classだと大丈夫だけどidにするとsubmitが拾えない(;´Д｀)-->
				{% csrf_token %}
				<textarea id="message_input" name="message", placeholder="Send a message"></textarea>
				<button type="submit" id="send_button">▶</button>
			</form>
		</footer>
	</body>

</html>