.body{
	overflow: scroll;
}

.all_conversation{
	display: flex;
	height: 100%;
	width: 100%;
}

.log_list{
	display: block;
	height: 100vw;
	width: 15%;
	background-color: #202123;
	/* background-color: green; */
	text-align: center;
	padding: auto;
}

#add_log_button{
	width: 70%;
	height: 5%;
	max-height: 70px;
	margin: auto;
	border-radius: 8px;	/*角の丸み*/
	font-size: large;
	background-color: #202123;
	border-color: white;
}
#add_log_button:hover{
	opacity: 0.7;
	cursor: pointer;
}

.log{
	border: none;
	background-color: transparent;
	text-overflow: ellipsis;
	width: 70%;
	height: 5%;
	max-height: 70px;
	margin: auto;
	font-size: large;
}
.log:hover{
	border: 1px solid white;
	border-radius: 8px;	/*角の丸み*/
	opacity: 0.7;
	cursor: pointer;
}

.conversation{
	width: 70%;
	text-align: center;
	/* background-color: aqua; */
}

.user{
	background-color: #343541;
	font-size: x-large;
	margin: 0;
}

.assistant{
	background-color:#444654;
	font-size: x-large;
	margin: 0;
}

/*-----footer-----*/

#footer{
	margin-top: 40%;
	position: sticky;
	bottom: 0;
	/* background-color: blue; */
}

.message_input_footer{
	display: flex;
	width: 70%;
	height: 150px;
	margin: auto;	/*中央揃え*/
	padding-left: 10%;
}

#message_input{
	width: 88%;
	min-width: 30%;
	max-width: 90%;
	height: 30%;
	min-height: 30%;
	max-height: 80%;
	border-radius: 8px;	/*角の丸み*/
	font-size: x-large;
}

#send_button{
	width: 7%;
	height: 30%;
	cursor: pointer;
}