.body{
	overflow: scroll;
}

.all_conversation{
	display: flex;
	height: 100%;
	width: 100%;
}

.log_list{
	overflow: hidden;
	position: sticky;
	top: 0;
	display: block;
	height: 10%;
	max-height: 800px;
	width: 15%;
	background-color: #202123;
	text-align: center;
	padding: auto;;
	border-radius: 20px;
}

.log_list:hover{
	overflow: scroll;
}

.log_list::-webkit-scrollbar{
	width: 8px;
	height: 0;
}

.log_list::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius: 8px;	/*角の丸み*/

}

#add_log_button{
	width: 70%;
	height: 5%;
	max-height: 70px;
	margin: auto;
	border-radius: 8px;	/*角の丸み*/
	font-size: large;
	background-color: #202123;
	border-color: white;
}

#add_log_button:hover{
	opacity: 0.7;
	cursor: pointer;
}

.log{
	border: none;
	background-color: transparent;
	text-overflow: ellipsis;
	width: 70%;
	height: 5%;
	max-height: 70px;
	margin: auto;
	font-size: large;
}

.log:hover{
	border: 1px solid white;
	border-radius: 8px;	/*角の丸み*/
	opacity: 0.7;
	cursor: pointer;
}

.conversation{
	width: 70%;
	text-align: center;
	padding-left: 5%;
}

.user{
	background-color: #343541;
	font-size: x-large;
	margin: 0;
	padding: 1%;
}

.assistant{
	background-color:#444654;
	font-size: x-large;
	margin: 0;
	padding: 1%;
}

#model_settings{
	position: fixed;
	top: 20%;
	display: flex;				/*子要素横並び*/
	right: 0;
	overflow-x: hidden;
	opacity: 0.95;
}

#model_menu_button{
	min-height: 100px;
	cursor: pointer;
	border-radius: 8px;	/*角の丸み*/
	background-color: #333333;
}

#settings_list{
	display: none;
	padding-left: auto;
	padding-right: 5px;
	border: 1px solid;
	border-radius: 8px;
	background-color: #333333;
	font-size: medium;
}

.setting_content_title{
	cursor: pointer;
}

.setting_content_title:hover{
	text-decoration: underline;
}

.setting_content{
	list-style: none;
}

.setting_detail{
	display: none;
}

.detail_input{
	display: none;
}

#numerical_detail{
	text-align: right;
}

#change_numerical{
	background-color: #333333;
	border-radius: 8px;	/*角の丸み*/
}

#change_numerical:hover{
	border: 1px solid white;
}

#back_content{
	background-color: #333333;
	border-radius: 8px;	/*角の丸み*/
}

#back_content:hover{
	border: 1px solid white;
}

/*-------------------------------------footer-------------------------------------*/

#footer{
	margin-top: 40%;
	position: sticky;
	bottom: 0;
}

.message_input_footer{
	display: flex;
	width: 70%;
	height: 150px;
	margin: auto;	/*中央揃え*/
	padding-left: 10%;
	opacity: 0.7;
}

.message_input_footer:hover{
	opacity: 1;
}

#message_input{
	width: 88%;
	min-width: 30%;
	max-width: 90%;
	height: 30%;
	min-height: 30%;
	max-height: 80%;
	border-radius: 8px;	/*角の丸み*/
	font-size: x-large;
}

#send_button{
	width: 7%;
	height: 30%;
	cursor: pointer;
}