.body{
	overflow: scroll;
}

.conversation{
	margin: 0 auto;
	width: 70%;
}

.user{
	background-color: #343541;
	font-size: x-large;
	margin: 0;
}

.assistant{
	background-color:#444654;
	font-size: x-large;
	margin: 0;
}

/*-----footer-----*/

#footer{
	margin-top: 40%;
	position: sticky;
	bottom: 0;
	/* background-color: blue; */
}

.message_input_footer{
	display: flex;
	width: 70%;
	height: 150px;
	margin: auto;	/*中央揃え*/
}

#message_input{
	width: 88%;
	min-width: 30%;
	max-width: 90%;
	height: 30%;
	min-height: 30%;
	max-height: 80%;
	border-radius: 8px;	/*角の丸み*/
	font-size: x-large;
}

#send_button{
	width: 7%;
	height: 30%;
}